[build]
  command = "npm run build"
  publish = "public"

[functions]
  directory = "netlify/functions"
  node_bundler = "esbuild"

[[redirects]]
  from = "/data-api/*"
  to = "/.netlify/functions/api/:splat"
  status = 200

[[redirects]]
  from = "/seed-data"
  to = "/.netlify/functions/api/seed-data"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
